<!DOCTYPE html>
<html>
<head>
  <title>Let me give you your fortune</title>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    #fortuneCookie {
      width: 250px;
      height: 250px;
    }

    div {
      text-align: center; 
    }

    form {
      text-align: center;
    }
  </style>
</head>
<body>
  <script>
    function getFortune() {
      console.log('getFortune() called');
      var fortunes = <%= raw Fortunecookie::DEFAULT_FORTUNES.to_json %>;
      var randomIndex = Math.floor(Math.random() * fortunes.length);
      var fortune = fortunes[randomIndex];
      console.log('Fortune:', fortune); 
      document.getElementById('fortune').innerText = fortune;
    }
  </script>

  <div>
    <img id="fortuneCookie" src="<%= asset_path('fortune_cookie.png') %>" alt="Fortune Cookie">
    <h1>Unfortunate Cookie</h1>
    <form>
      <button type="button" onclick="getFortune()">Get Fortune</button>
    </form>
    <p id="fortune"></p>
  </div>

</body>
</html>
